.container{
	display: flex;
}
@media screen and (max-width: 700px)
{
	.container{
		display: flex;
		flex-direction: column;
	}
}


.another_class{
	background-color: yellow;
}
.pd-y-4{
	padding-right: 4rem;
	padding-left: 4rem;
}