div{
	width: 100vw;
	height: 30vh;
	background: teal;
	transition: all 500ms ease;
}
aside{
	margin-top: 5em;
	display: flex;
	justify-content: space-around;
}
button{
	padding: 1em;
	border: 1px solid green;
	color: rgb(0,0,0);
	font-weight: bold;
}

.red{
	background: rgb(255,0,0);
}
.blue{
	background: rgb(0,0,255);
}