h1{
	width: 15vw;
	border: 1px solid rgb(250,250,250);
	margin: 2em auto;
	text-align: center;
	color: rgb(250,250,250);
	font-weight: bold;
	font-size: 1.4em;
	padding: .2em;
	border-radius: 3px;
}
body{
    background: rgb(27,20,100);
    color: rgb(250,250,250);
    width: 100vw;
}
section{
	background: rgb(250,250,250);
	display: flex;
	flex-direction: column;
	width: 40vw;
	margin: 2em auto;
	padding: 2em;
	color: green;
	border-radius: 5px;
}
section > p.first{
	width: 99%;
	text-align: center;
	font-size: 1.3em;
}
form{
	display: flex;
	flex-direction: column;
}
.common_color{
	color: rgb(27,20,100);
}
.grey{
	color: rgb(40,40,40);
}
.text_input{
	padding: .5em;
	margin: .3em;
	border: .5px solid rgb(150,150,150);
	border-radius: 3px;
}
.btn{
	padding: .4em;
	background: rgb(27,20,100);
	border: 1px solid rgb(27,20,100);
	border-radius: 3px;
	color: rgb(250,250,250);
	font-weight: bold;
	margin: .5em;
	transition: all 250ms ease;
}
.btn:hover{
	background: rgb(250,250,250);
	color: rgb(27,20,100);
}
section > p.last{
	width: 100%;
	padding: .3em;
	margin-top: .5em;
}
.mgn-top{
	margin-top: 1em;
}
@media screen and (max-width: 1056px){
	h1{
		width: 30vw;
	}
}

@media screen and (max-width: 700px){
	h1{
		width: 40vw;
	}
	section{
		width: 80vw;
	}
}