
.wrapper{
	width: 100%;
	margin: 0 auto;
}

header h1{
	font-size: 1.5em;
	color: rgb(255,255,255);
	background-color: mediumaquamarine;
	border: 1px solid rgb(0,0,0);
	text-align: center;
	font-weight: bold;
	padding: .3em;
	font-family: 'New Tegomin', serif;
}
form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
textarea{
	margin-top: 40px;
	min-height: 90px;
	width: 50%;
	border: 2px solid mediumaquamarine;
	border-radius: 3px;
}
button{
	margin: 2px auto;
	width: 150px;
	background-color: mediumaquamarine;
	border: 1px solid rgb(0,0,0);
	height: 40px;
	border-radius: 3px;
	margin-top: 40px;
	color: rgb(255,255,255);
	font-family: 'New Tegomin', serif;
	font-weight: bold;
}
form p{
	font-size: 30px;
	margin-top: 40px;
	color: mediumaquamarine;
	font-family: 'New Tegomin', serif;
}
.wrapper table{
	width: 40%;
	margin: 30px auto;
	border: 3px solid mediumaquamarine;
	box-shadow: 8px 8px 20px;
	font-family: 'New Tegomin', serif;
}
.wrapper table td {
	text-align: center;
	padding: 15px
}
.wrapper table #head{
	background-color: mediumaquamarine;
	min-height: 50px; 
	color: rgb(255,255,255);

}